body {
    text-align: center;
    background-color: #111;
}
p { 
    color: #fff;
}
.caption-container 
{
    border: 0ch;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    height: 300px;  
    overflow-y: auto; 
}